@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@layer base {
  h1, h2 {
    font-family: var(--font-russo);
  }
  
  h3, h4 {
    font-family: var(--font-orbitron);
  }

  .pixel-font {
    font-family: var(--font-press-start);
  }

  .gaming-font {
    font-family: var(--font-orbitron);
  }

  .title-font {
    font-family: var(--font-russo);
  }
}

.clip-hex {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
